{% extends "base.html" %}
{% load static %}
{% block title %}
    <title> Об авторе проекта </title>
{% endblock %}
{% block content %}
<body>
    <h1 class="body-title">Казаков Дмитрий Юрьевич</h1>
    <section class="content">
        <div class="main-box">
                <img class="right-img" src={% static "img/my_pc.jpg" %}>Всем привет! Меня зовут Дмитрий и я являюсь автором данного проекта в рамках обучения по программе Яндекс.Практикум. 
                Программированием я увлекся еще где-то в области 2013 года, на тот момент я учился в школе и самостоятельно изучал старый добрый Pascal. 
                С ноября 2021 года я снова получил шанс получить образование в данной области и устроиться на работу, где можно заниматься любимым и крайне интересным занятием. 
                И на этот раз я буду биться до конца, чего бы мне это не стоило =) Это очень нелегкий труд и сложные задачи, но, решая которые, получаю ни с чем не сравнимые 
                удовольствие от проделанной работы. При начале обучения, долго сомневался, "смогу ли?", "а мое ли это?". Но уже через несколько часов обучения затянуло с головой 
                настолько, что любые сомнения просто отпали. Как бы тяжело не было найти причину неработающей ссылки и т.п. вещей, абсолютно прекрасно себя чувствую сидя перед монитором, 
                прочитывая раз за разом каждую написанную строку кода, тонны информации в интернете и т.д.)) Во время тяжелых поисков неправильно поставлленной кавычки или запятой мне 
                всегда помогает чашка хорошего чая, а так же мой амулет - кольцо всевластия (да, да... то самое... только тссс! =)) ) Ну и конечно же ничего бы не получилось без 
                моей кошечки по кличке Буся, которая так и ходит вокруг кресла и орет пока ее не погладишь )))
        </div>
        <div class="bottom-img">
            <img class="photo-a" src={% static "img/ring_of_the_power.jpg" %}>
            <img class="photo-b" src={% static "img/cat.jpg" %}>
        </div>
    </section>
</body>
{% endblock %}